@font-face {
	font-family: 'ARIALMT';
	src: url('../fonts/ARIALMT.ttf');
	font-weight: normal;
	font-size: normal;
}
@font-face {
	font-family: 'Arial-BoldMT';
	src: url('../fonts/Arial-BoldMT.otf');
	font-weight: normal;
	font-size: normal;
}
body {
	max-width: 1300px;
	padding: 0;
	margin: 0 auto;
	font-family: 'ARIALMT';
}
th {
	font-weight: 300;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	max-width: 980px;
	height: 100%;
	margin: 0 auto;
}
b {
	color: #ae4b5d;
}

/************header************/

.header {
	background-image: url(../image/header_bg.png);
	max-height: 72px;
}
.header_flex {
	display: flex;
	justify-content: space-between;
}
.header_h_p {
	padding-left: 8px;
}
.header_h {
	font-size: 30px;
	font-family: 'Arial-BoldMT';
	color: #a5adb8;
	padding-top: 15px;
}
.header_p {
	font-size: 12px;
	color: #656f7a;
	padding-bottom: 17px;
}
.header_input_img {
	display: flex;
	align-items: center;
	padding-right: 8px;
	gap: 10px;
}
.header_input {
	width: 198px;
	height: 34px;
	border-radius: 5px;
	background-color: #24272d;
	color: #ffff;
	border-color: #875e66;
}

/*************middle*************/
.middle {
	background-color: #e3e5e7;
}
.middle_bg {
	background-color: #ffff;
}
/*******berry*******/

.berry {
	background-image: url(../image/berry.png);
	max-height: 240px;
}
.berry_all {
	padding-top: 44px;
	padding-left: 39px;
	padding-bottom: 38px;
}
.berry_h {
	font-size: 30px;
	font-family: 'Arial-BoldMT';
	color: #a5adb8;
}
.berry_span {
	font-size: 18px;
	font-family: 'Arial-BoldMT';
	color: #2b3036;
}
.berry_h_two {
	font-size: 18px;
	font-family: 'Arial-BoldMT';
	color: #a5adb8;
}
.berry_p {
	font-size: 14px;
	color: #d9dcdf;
}
/*******red*********/

.red {
	background-color: #95161f;
	height: 36px;
}
.red_ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 22px;
	gap: 38px;
}
.red_li_a {
	text-decoration: none;
	color: #ffff;
	font-size: 16px;
}

/*******white*******/

.white {
	margin-bottom: 58px;
}
.white_p_span {
	background-color: #f3f3f3;
	height: 26px;
}
.white_p {
	font-size: 12px;
	color: #6b6f74;
	padding-top: 7px;
	padding-left: 24px;
}
.white_span {
	color: #95161f;
	text-decoration: underline;
	font-size: 12px;
}
.white_flex_all {
	display: flex;
	margin-top: 19px;
}
.white_h_inputs {
	border: 1px solid #d7dade;
	background-color: #f3f3f3;
	max-width: 212px;
	min-height: 408px;
	padding-left: 11px;
}
.white_flex_left {
	min-width: 250px;
}
.white_h_one {
	padding-top: 18px;
	padding-left: 13px;
	font-family: 'Arial-BoldMT';
	font-size: 18px;
}
.white_inputs {
	padding-top: 20px;
}
.white_input {
	width: 185px;
	height: 31px;
	border-radius: 3px;
	box-shadow: inset 0px 2px 1.5px rgba(0, 0, 0, 0.1);
	background-color: #e3e4e5;
	border: 1px solid #fffcfc;
	margin-bottom: 16px;
	padding-left: 9px;
}

.white_input_plus {
	width: 185px;
	height: 31px;
	margin-bottom: 16px;
	background-color: #e3e4e5;
	border-color: #a1a1a1;
	border-radius: 3px;
}
.white_button {
	width: 177px;
	height: 46px;
	font-size: 16px;
	background-color: #a61f29;
	color: #e4dedf;
	border: 5px solid #ffff;
	margin-left: 12px;
}
.white_h_p_span {
	margin-top: 27px;
}
.white_h_two {
	font-family: 'Arial-BoldMT';
	font-size: 18px;
}
.white_p_two {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 12px;
}
.white_flex_right {
	min-width: 730px;
}
.white_h_p {
}
.white_h {
	font-size: 24px;
	font-family: 'Arial-BoldMT';
	color: #a5adb8;
	margin-top: 35px;
	margin-bottom: 22px;
}
.white_p_span_two {
	padding-top: 17px;
	padding-bottom: 20px;
	font-size: 14px;
}
.white_span_two {
	color: #95161f;
	text-decoration: underline;
	font-size: 14px;
}
.white_img {
	display: flex;
	margin-bottom: 16px;
}
.white_img_p {
	padding-bottom: 8px;
	padding-left: 6px;
	font-family: 'Arial-BoldMT';
	font-size: 18px;
}
.white_lists_flex {
	display: flex;
}
.white_span_three {
	color: #5c646e;
	font-size: 14px;
}
.white_li_a {
	text-decoration: none;
	color: #5c646e;
	font-size: 14px;
}
table {
	border-collapse: collapse; /* Объединение границ ячеек */
	width: 100%; /* Ширина таблицы (можно настроить по вашему усмотрению) */
}

th,
td {
	border: 1px solid black; /* Установка границы вокруг каждой ячейки */
	padding: 8px; /* Добавление отступов внутри ячеек (по вашему усмотрению) */
}

.column_red {
	background-color: #9c4757;
	color: #ffff;
	font-size: 12px;
	font-family: 'Arial-BoldMT';
	font-weight: 500;
}
.column_black {
	background-color: #282d33;
	color: #9da4af;
	font-size: 12px;
}
.th_pink {
	color: #d08b98;
	text-decoration: underline;
	font-size: 12px;
}
/***********footer**************/

.footer {
	background-image: url(../image/footer.png);
	min-height: 238px;
}
.footer_flex {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}
.footer_time {
	display: flex;
	align-items: center;
	padding-top: 8px;
}
.footer_ul {
	color: #9c4757;
	margin-bottom: 8px;
}
.footer_li_a {
	text-decoration: none;
	color: #85898f;
	font-size: 12px;
}
.footer_h {
	font-family: 'Arial-BoldMT';
	font-size: 18px;
	color: #a5adb8;
	padding-bottom: 8px;
}
.footer_p {
	font-size: 12px;
	color: #85898f;
}
.footer_span {
	color: #a5adb8;
	font-size: 14px;
	font-family: 'Arial-BoldMT';
}
.footer_span_pink {
	color: #d08b98;
	text-decoration: underline;
	font-size: 12px;
}
